<div class="popularCategory w-full bg-zinc-900">
    <div class="content xl:mx-60 mx-0 lg:py-24 p-4 gap-8 flex flex-col">
        <div class="rolesList w-full flex flex-col lg:flex-row items-start gap-6 lg:gap-0">
            <div class="app flex flex-col gap-4 w-full lg:w-1/4">
                <div class="title flex flex-col gap-4">
                    <div class="details flex items-center">
                        <svg-component src="/assets/logo/briefcase1.svg" strokeColor="white"></svg-component>
                        <div class="title">
                            <span class="font-poppins font-medium capitalize text-white">jobpilot</span>
                        </div>
                    </div>
                    <div class="contact flex flex-col gap-4">
                        <div class="call">
                            <span class="font-poppins text-main-gray-600 font-light">Call now: <span class="text-white font-normal"> (319) 555-0115</span></span>
                        </div>
                        <div class="location">
                            <span class="font-poppins text-main-gray-400 font-light">6391 Elgin St. Celina, Delaware 10299, New York, United States of America</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-wrap w-full">
                <div class="roles grid grid-cols-1 lg:grid-cols-4 gap-6 lg:gap-0">
                    <!-- <div class="job flex items-center gap-10"> -->
                        <div class="Link flex flex-col gap-4 w-full px-2">
                            <div class="title">
                                <span class="font-poppins text-lg font-medium text-white capitalize">quick link</span>
                            </div>
                            <div class="opt flex flex-col gap-4">
                                <a href="" class="font-poppins text-sm font-light text-main-gray-500 capitalize hover:text-white hover:font-medium my-auto flex items-center">
                                    <hlm-icon name="lucideArrowRight" class="mr-2" color="#FFFFFF" />
                                    About
                                </a>
                                <a href="" class="font-poppins text-sm font-light text-main-gray-500 capitalize hover:text-white hover:font-medium my-auto flex items-center">
                                    <hlm-icon name="lucideArrowRight" class="mr-2" color="#FFFFFF" />
                                    Contact
                                </a>
                                <a href="" class="font-poppins text-sm font-light text-main-gray-500 capitalize hover:text-white hover:font-medium my-auto flex items-center">
                                    <hlm-icon name="lucideArrowRight" class="mr-2" color="#FFFFFF" />
                                    Pricing
                                </a>
                                <a href="" class="font-poppins text-sm font-light text-main-gray-500 capitalize hover:text-white hover:font-medium my-auto flex items-center">
                                    <hlm-icon name="lucideArrowRight" class="mr-2" color="#FFFFFF" />
                                    Blog
                                </a>
                            </div>
                        </div>
                        <div class="Candidate flex flex-col gap-4 w-full">
                            <div class="title">
                                <span class="font-poppins text-lg font-medium text-white capitalize">Candidate</span>
                            </div>
                            <div class="opt flex flex-col gap-4">
                                <a href="" class="font-poppins text-sm font-light text-main-gray-500 capitalize hover:text-white hover:font-medium my-auto flex items-center">
                                    <hlm-icon name="lucideArrowRight" class="mr-2" color="#FFFFFF" />
                                    Browse Jobs
                                </a>
                                <a href="" class="font-poppins text-sm font-light text-main-gray-500 capitalize hover:text-white hover:font-medium my-auto flex items-center">
                                    <hlm-icon name="lucideArrowRight" class="mr-2" color="#FFFFFF" />
                                    Browse Employers
                                </a>
                                <a href="" class="font-poppins text-sm font-light text-main-gray-500 capitalize hover:text-white hover:font-medium my-auto flex items-center">
                                    <hlm-icon name="lucideArrowRight" class="mr-2" color="#FFFFFF" />
                                    Candidate Dashboard
                                </a>
                                <a href="" class="font-poppins text-sm font-light text-main-gray-500 capitalize hover:text-white hover:font-medium my-auto flex items-center">
                                    <hlm-icon name="lucideArrowRight" class="mr-2" color="#FFFFFF" />
                                    Saved Jobs
                                </a>
                            </div>
                        </div>
                        <div class="Employer flex flex-col gap-4">
                            <div class="title">
                                <span class="font-poppins text-lg font-medium text-white capitalize">Employers</span>
                            </div>
                            <div class="opt flex flex-col gap-4">
                                <a href="" class="font-poppins text-sm font-light text-main-gray-500 capitalize hover:text-white hover:font-medium my-auto flex items-center">
                                    <hlm-icon name="lucideArrowRight" class="mr-2" color="#FFFFFF" />
                                    Post a Job
                                </a>
                                <a href="" class="font-poppins text-sm font-light text-main-gray-500 capitalize hover:text-white hover:font-medium my-auto flex items-center">
                                    <hlm-icon name="lucideArrowRight" class="mr-2" color="#FFFFFF" />
                                    Browse Candidates
                                </a>
                                <a href="" class="font-poppins text-sm font-light text-main-gray-500 capitalize hover:text-white hover:font-medium my-auto flex items-center">
                                    <hlm-icon name="lucideArrowRight" class="mr-2" color="#FFFFFF" />
                                    Employers Dashboard
                                </a>
                                <a href="" class="font-poppins text-sm font-light text-main-gray-500 capitalize hover:text-white hover:font-medium my-auto flex items-center">
                                    <hlm-icon name="lucideArrowRight" class="mr-2" color="#FFFFFF" />
                                    Applications
                                </a>
                            </div>
                        </div>
                        <div class="Support flex flex-col gap-4 justify-center lg:justify-normal">
                            <div class="title">
                                <span class="font-poppins text-lg font-medium text-white capitalize">Support</span>
                            </div>
                            <div class="opt flex flex-col gap-4">
                                <a href="" class="font-poppins text-sm font-light text-main-gray-500 capitalize hover:text-white hover:font-medium my-auto flex items-center">
                                    <hlm-icon name="lucideArrowRight" class="mr-2" color="#FFFFFF" />
                                    Faqs
                                </a>
                                <a href="" class="font-poppins text-sm font-light text-main-gray-500 capitalize hover:text-white hover:font-medium my-auto flex items-center">
                                    <hlm-icon name="lucideArrowRight" class="mr-2" color="#FFFFFF" />
                                    Privacy Policy
                                </a>
                                <a href="" class="font-poppins text-sm font-light text-main-gray-500 capitalize hover:text-white hover:font-medium my-auto flex items-center">
                                    <hlm-icon name="lucideArrowRight" class="mr-2" color="#FFFFFF" />
                                    Terms & Conditions
                                </a>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>