<div class="popularCategory w-full bg-white border border-t-main-gray-200">
    <div class="content xl:mx-60 mx-0 lg:py-24 p-4 gap-8 flex flex-col">
        <div class="header">
            <div class="text">
                <span class="font-poppins text-4xl font-medium text-black capitalize">top Companies</span>
            </div>
            <!-- <div class="viewAll">
                <spartan-button-with-icon iconName="lucideMoveRight" class="bg-white border-[0.5px] text-main-blue-100 font-semibold hover:bg-main-blue-100 hover:text-white font-poppins" iconPosition="right" text="View All"/>
            </div> -->
        </div>
        <div class="categoriesList w-full flex-wrap">
            <div class="categories grid grid-cols-1 md:grid-cols-2 gap-6 gap-x-8 lg:grid-cols-3">
                <div class="" *ngFor="let company of companies">
                    <div class="category flex w-auto gap-4 items-center mx-auto bg-white rounded-xl p-8 border border-main-gray-100 shadow">
                        <div class="main flex flex-col justify-between gap-6 w-full">
                            <div class="infos flex w-full justify-start gap-4">
                                <div class="icon bg-main-rose-100 w-14 h-14 p-2 rounded-md flex items-center justify-center">
                                    <hlm-icon size="base" name="lucideDribbble" class="text-white" />
                                </div>
                                <div class="flex flex-col gap-2">
                                    <div class="company flex items-center gap-4">
                                        <span class="font-poppins text-zinc-900 font-medium">{{company.name}}</span>
                                        <div class="type px-2 py-1 rounded-2xl bg-main-red-100">
                                            <span class="font-poppins text-main-red-200 font-light">Featured</span>
                                        </div>
                                    </div>
                                    <div class="location flex gap-4">
                                        <div class="icon w-4 h-4 rounded-md">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z"
                                                    stroke="#9199A3" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                                                <path
                                                    d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z"
                                                    stroke="#9199A3" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </div>
                                        <div class="place">
                                            <span class="font-poppins text-main-gray-500 font-light">{{company.location}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="openPositions">

                            <spartan-button [placeHolder]="'Open Positions (' + company.openPositions + ')'"
                                class="openPositionsButton inline-flex w-full h-full gap-y-4 items-center bg-main-lightBlue-100 text-main-blue-100 hover:bg-main-blue-100 hover:text-white justify-center rounded-sm text-base font-semibold transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-background"></spartan-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>