<div class="w-full h-full flex flex-col">
    <div class="info flex items-center justify-center p-4 w-full">
      <spartan-avatar src="./../../../assets/logo/briefcase 1.png"></spartan-avatar>
      <div class="title ml-4">
        <span class="font-poppins font-semibold capitalize text-xl">jobpilot</span>
      </div>
    </div>
    <div class="flex-grow flex items-center justify-center">
        <div class="form flex flex-col px-12 w-auto gap-8">
            <div class="title flex flex-col items-center justify-center mb-4 gap-2">
                <span class="font-poppins font-medium text-2xl">Reset Password</span>
                <span class="font-poppins font-normal text-sm text-main-gray-500">Update your password securely.<br>Enter your new password and confirm it below.</span>
            </div>
            <div class="form-content flex flex-col items-center justify-center w-full gap-6">
                <div class="inputs gap-3 flex flex-col">
                    <spartan-input class="w-96 focus:ring-0 focus-visible:ring-0 focus-visible:ring-offset-0" placeHolder="Enter your password" type="password"/>
                    <spartan-input class="w-96 focus:ring-0 focus-visible:ring-0 focus-visible:ring-offset-0" placeHolder="Confirm your password" type="password"/>
                </div>
                <div class="viewAll w-full">
                    <spartan-button-with-icon iconName="lucideMoveRight" className="bg-main-blue-100 border-[0.5px] py-2 text-white font-semibold hover:bg-white hover:text-main-blue-100 font-poppins w-full" iconSize="base" iconPosition="right" text="Reset Password"/>
                </div>
            </div>
        </div>
    </div>
  </div>
  