<div class="popularCategory w-full bg-white border border-t-main-gray-200">
    <div class="content xl:mx-60 mx-0 lg:py-24 p-4 gap-8 flex flex-col">
        <div class="rolesList w-full flex-wrap">
            <div class="roles grid grid-cols-1 gap-6 gap-x-8 lg:grid-cols-2">
                <div class="candidateRole flex w-full gap-4 items-center mx-auto bg-main-gray-200 rounded-xl p-8 border border-main-gray-100 shadow">
                    <div class="main gap-6 w-full p-4">
                        <div class="infos flex flex-col w-full justify-start gap-8">
                            <div class="flex flex-col gap-4">
                                <div class="title">
                                    <span class="font-poppins text-xl font-medium text-black">Become a Candidate</span>
                                </div>
                                <div class="description">
                                    <span class="font-poppins text-main-gray-500 font-light">Find your dream job</span>
                                </div>
                            </div>
                            <div class="register">
                                <spartan-button-with-icon text="Register Now" iconName="lucideMoveRight" className="bg-white border-[0.5px] text-main-blue-100 font-semibold hover:bg-main-blue-100 hover:text-white font-poppins" iconPosition="right" routerLink="/auth/login"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="employeeRole flex w-full gap-4 items-center mx-auto bg-main-gray-200 rounded-xl p-8 border border-main-gray-100 shadow">
                    <div class="main gap-6 w-full p-4">
                        <div class="infos flex flex-col w-full justify-start gap-8">
                            <div class="flex flex-col gap-4">
                                <div class="title">
                                    <span class="font-poppins text-xl font-medium text-white">Become a Employer</span>
                                </div>
                                <div class="description">
                                    <span class="font-poppins text-main-gray-200 font-light"> Find the best candidates</span> 
                                </div>
                            </div>
                            <div class="register">
                                <spartan-button-with-icon text="Register Now" iconName="lucideMoveRight" className="bg-white border-[0.5px] text-main-blue-100 font-semibold hover:bg-main-blue-100 hover:text-white font-poppins hover:border-0" iconPosition="right" routerLink="/auth/register"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>