<div class="w-full h-full flex flex-col">
    <div class="info flex items-center justify-center p-4 w-full">
      <spartan-avatar src="./../../../assets/logo/briefcase 1.png"></spartan-avatar>
      <div class="title ml-4">
        <span class="font-poppins font-semibold capitalize text-xl">jobpilot</span>
      </div>
    </div>
    <div class="flex-grow flex flex-col items-center justify-center h-full">
        <div class="form flex flex-col px-12 w-auto gap-4">
            <div class="title flex flex-col items-start justify-center mb-4 gap-4">
                <span class="font-poppins font-medium text-2xl">Forgot Password</span>
				<div class="routes flex flex-col items-start justify-center gap-2">
                    <span class="font-poppins font-normal text-sm text-main-gray-500">Go back to <span class="font-poppins text-main-blue-100 font-medium cursor-pointer" routerLink="/auth/login"> Sign in </span></span>
					<span class="font-poppins font-normal text-sm text-main-gray-500">Don't have accout <span class="font-poppins text-main-blue-100 font-medium cursor-pointer" routerLink="/auth/register"> Create Account </span></span>
				</div>
            </div>
            <div class="form-content flex flex-col items-center justify-center w-full gap-4">
                <div class="inputs gap-3 flex flex-col">
                    <spartan-input  [(ngModel)]="email" class="w-96 focus:ring-0 focus-visible:ring-0 focus-visible:ring-offset-0" placeHolder="Email Adress" type="email" (validityChange)="onValidityChange($event)"/>
                </div>
                <div class="viewAll w-full">
                    <spartan-button-with-icon [disable]="!isEmailValid" (click)="forgotPassword()" iconName="lucideMoveRight" className="bg-main-blue-100 border-[0.5px] text-white font-semibold hover:bg-white hover:text-main-blue-100 font-poppins w-full" iconSize="base" iconPosition="right" text="Forget Password"/>
                </div>
            </div>
        </div>
    </div>

    <spartan-alert class="mt-2 mb-2 mr-2 w-fit self-end" *ngIf="showAlert" [alertDescription]="alertDescription" [alertTitle]="alertTitle"/>
  </div>
  